/*Paleta de colores;
verde 083028
negro 000000
blanco ffffff

/*_____________________
       Global
_______________________ */


/* *{
  margin: 0;
  padding: 0;
} */
h1,h2,h3,h4,p,a,li{
color: #ffffff
}

h1{
  font-family: 'Quicksand',sans-serif;
}

h2,
h3,
h4,
p,
a,
li{
  font-family: 'Open Sans',sans-serif;
}

.bg-verde{
  background-color: #083028;
}
.bg-fondo{
background-color: #000000;
}
.bgImgPortada{
  background-image: url("https://drive.google.com/uc?export=view&id=1tgXYi9f-HudFV4OW4-AZHUBr6yGcvCve");
object-fit: cover;
}
.bg-nav{
    background-color: #083028;
}
/*_____________________
       Container
_______________________ */
.container-body{
  border-style: none;
  height: 100vh;
  text-align: center;
}

.container-body-title{
  padding-bottom: 17vh;
  padding-top: 17vh;
}

.container-body-queHacemos{

}
.footer-container{
/* 
  height: 40%; */
}
.footer-copyright{
  border-style: solid;
  padding: 2px auto;
}
/*_____________________
       Button
_______________________ */
.button{

border: none;
  color: #ffffff;
  text-decoration: none;

  background-color: #083028;
}

/*_____________________
       props
_______________________ */

.product-img{
width: 100%;
border-style: none;
}
.img-horizontal{
width: 50%;

}
.line{
  border: #ffffff;
  display: block;
  margin-before: 0.5em;
  margin-after: 0.5em;
  margin-start: auto;
  margin-end: auto;
  overflow: hidden;
  border-style: inset;
  border-width: 1px;
}