/*_____________________
       Global
_______________________ */


/* *{
  margin: 0;
  padding: 0;
} */
h1{

}
h2{

}
/*_____________________
       Container
_______________________ */
.container-body{
  border-style: solid;
  height: 100%;
  text-align: center;
}
.nav-container{
  border-style: solid;
  height: 10vh;
}
.container-body-title{
  border-style: solid;
  padding-bottom: 17vh;
  padding-top: 17vh;
}

.container-body-queHacemos{
    border-style: solid;

}
.footer-container{
  border-style: solid;
  height: 40%;
}
.footer-copyright{
  border-style: solid;
  padding: 2px auto;
}
/*_____________________
       Button
_______________________ */
.button{
  border-style: solid;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  padding: 10px;
  margin: 20px;
}

/*_____________________
       props
_______________________ */

.product-img{
  height: 60vh;
width: 20vh;
border-style: solid;
}
